.signup_container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_form_container {
  width: 1000px;
  max-width: 80%;
  height: 540px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3bb19b;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left h2 {
  margin-top: 60px;
  color: white;
  font-size: 24px;
  align-self: center;
  width: 70%;
  text-align: center;
  font-weight: 600;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 36px;
  padding: 20px;

  span {
    font-weight: 600;
    font-size: 18px;
  }
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 36px;
  margin-top: 48px;
  margin-bottom: 20px;
  font-weight: 600;
}

.inputInfo {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px 50px 15px 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  font-size: 16px;
}
.container-pass {
  display: flex;
  align-items: center;
  position: relative;
}
.eye-icon {
  position: absolute;
  right: 0;
  margin-right: 14px;
  color: #6e6e6e;
  font-size: 22px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.error_msg,
.success_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.text-validate {
  font-size: 10px;
  width: 100%;
  text-align: start;
  margin-left: 10px;
  color: #f34646;
  margin-top: 2px;
}
.success_msg {
  background-color: #5cdd5c;
}

.white_btn,
.green_btn {
  border: none;
  margin-top: 20px;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.green_btn {
  background-color: #3bb19b;
  color: white;
  margin: 10px;
}

.responsive {
  @media only screen and (max-width: 739px) {
    .signup_form_container {
      min-width: 270px;
      flex-direction: column-reverse;
      width: 60%;

      h1 {
        font-size: 26px;
      }
    }
    .logo-wrapper {
      display: none;
    }
    .inputInfo {
      width: 240px;
      padding: 10px 30px 10px 15px;
      font-size: 14px;
    }

    .form_password {
      margin-top: 0px;
    }

    .white_btn,
    .green_btn {
      padding: 8px 0;
    }

    .green_btn {
      margin-bottom: 20px;
      margin-top: 0;
    }
    .white_btn {
      margin-top: 8px;
    }
    .right {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    .left {
      border-top-left-radius: 0;
      border-bottom-right-radius: 10px;
      h2 {
        font-size: 16px;
        margin-top: 20px;
      }
      padding-bottom: 24px;
      img {
        display: none;
      }

      span {
        margin-top: 20px;
        font-size: 16px;
      }

      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
    }
  }

  @media only screen and (min-width: 740px) and (max-width: 1023px) {
    .signup_container {
    }
    .signup_form_container {
      h2 {
        font-size: 24px;
      }
    }

    .form_container h1 {
      font-size: 28px;
    }

    .inputInfo {
      width: 280px;
      padding: 10px 30px 10px 15px;
    }
    .form_password {
      margin-top: 0px;
    }

    .white_btn,
    .green_btn {
      padding: 10px 0;
    }
    .left {
      min-width: 250px;
    }
    .right {
      min-width: 200px;
      span {
        font-size: 18px;
      }
    }
    .white_btn {
      width: 160px;
    }
  }

  @media only screen and (min-width: 1024px) {
  }
}
