.wrapper {
    .three-dot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 28px;
        border-radius: 50%;
        cursor: pointer;
        background-color: transparent;
        transition: all .1s linear;
        &:hover {
            background-color: #f0f2f5;
        }
    }
}
.dropdown {
    background-color: #fff;
    color: rgb(28, 30, 33);
    padding: 8px;
    width: 120px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;

    .item-drop {
        padding: 4px 8px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            background-color: #f2f2f2;
        }
        transition: all 0.2s ease-in-out;
    }
}
