.wrapper {
    .row {
        display: flex;
        align-items: center;
    }
    .col1 {
        width: 5%;
        // height: 40px;
    }
    .col2 {
        // height: 40px;
        width: 25%;
    }

    .col3 {
        // height: 40px;
        width: 10%;
    }

    .col4 {
        // height: 40px;
        width: 10%;
    }

    .col5 {
        // height: 40px;
        width: 15%;
    }

    .col6 {
        // height: 40px;
        width: 15%;
    }

    .col7 {
        // height: 40px;
        width: 10%;
    }

    .col8 {
        // height: 40px;
        width: 10%;
    }
}
