@media only screen and (min-width: 1200px) {
  .container-iframe {
    width: 695px;
    height: 460px;
  }
  .container-btn {
    margin-top: 60px;
    border-top: 1px solid #c8c8c8;
    padding-top: 60px;
    text-align: right;
  }
  .wrapper {
    display: flex;
    color: #2a2a2a;
  }
  .container-error {
    display: flex;
    align-items: center;
    background-color: #ff324b;
    padding-left: 40px;
    color: #fff;
    height: 80px;
    .icon-error {
      color: #fff;
      font-size: 48px;
      margin-right: 20px;
    }
  }

  .content {
    background-color: #fafafa;
  }

  .controlBar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #f5f5f5;
  }
  .controlBar-container {
    padding: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #c8c8c8;
    border-left: none;
    border-right: none;
    margin-top: 1px;
  }

  .controlBar-content {
    flex: 1;
    color: #2a2a2a;
    font-weight: 550;
  }

  .btn-ok {
    background-color: #7a69b3;
    border: none;
    color: #ffffff;
    margin-left: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 15px;
    min-height: 40px;
    min-width: 86px;
    cursor: pointer;
    border-radius: 2px;

    &.disabled {
      pointer-events: none;
      cursor: default;
      background-color: #c8c8c8;
      color: #ffffff;
    }

    &:hover {
      background-color: #6653a5;
      color: #ffffff;
    }
  }

  .body {
    padding: 30px 50px;
    min-height: 900px;
  }

  .hide {
    display: none;
  }

  .entreSection {
    width: 756px;
    margin-bottom: 60px;
  }

  .entreField-header {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .entreField-subHeader {
    margin-bottom: 10px;
  }

  .entreField-required {
    color: #ff324b;
  }
  .entreField {
    margin: 40px 0;
  }

  .entreField-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .entreField-subLabel {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #6a6a6a;
    margin-bottom: 10px;
  }

  .itext-field {
    font-size: 14px;
    line-height: 21px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    outline: none;
    &:focus {
      border: 1px solid #333232;
    }
  }

  .entreField-validationLabel {
    font-size: 12px;
    color: #ff001e;
    margin-top: 2px;
    font-style: italic;
  }

  .entreField-error {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #ff324b;
    margin-top: 5px;
  }

  .entreField-input-image {
    border: 1px solid #c8c8c8;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 695px;
    height: 460px;
    overflow: hidden;
  }

  .entreImage-file {
    height: 0;
    opacity: 0;
  }

  .tertiaryAction {
    display: flex;
    align-items: center;
  }

  .tertiaryAction-icon {
    width: 35px;
    height: 35px;
    background-color: #eee5f2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .editFile {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
  }
  .editFile-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee5f2;
    border-radius: 50%;

    & + & {
      margin-left: 8px;
    }
  }
  .tertiaryAction-text {
    color: #7a69b3;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .entreField-categorySelect {
    width: 373px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .entreDropdown-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .icon {
      font-size: 16px;
    }
    position: relative;
  }

  .borderInput {
    border: 1px solid #333232;
  }

  // Content
  .editFile {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
  }
  .editFile-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee5f2;
    border-radius: 50%;

    & + & {
      margin-left: 8px;
    }
  }

  .btn-add-video {
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 15px;
    cursor: pointer;
    min-height: 40px;
    min-width: 86px;
    margin-left: 12px;
    background-color: #7a69b3;
    border: none;
    color: #ffffff;
    &:hover {
      background-color: #6653a5;
      color: #ffffff;
    }

    &.disabled {
      pointer-events: none;
      cursor: default;
      background-color: #c8c8c8;
    }
  }

  .i-pitchvideo-url {
    width: 659px;
  }

  .entreToggle {
    display: flex;
  }

  .i-media-button {
    font-weight: 700;
    color: #a8a8a8;
    font-size: 12px;
    width: 75px;
    background: #ffffff;
    line-height: 40px;
    height: 40px;
    border: 1px solid #c8c8c8;
    letter-spacing: 1px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 15px;
    text-transform: uppercase;
    text-align: center;

    &:not(.i-media-button-selected):hover {
      color: #2a2a2a;
    }

    &:nth-child(2) {
      border-left: none;
    }

    &.i-media-button-selected {
      background: #2a2a2a;
      color: #ffffff;
    }
  }

  .videoPlaceholder {
    width: 620px;
    height: 415px;
    margin-top: 10px;
    background: #f5f5f5;
    border: 1px dashed #c8c8c8;
    border-radius: 2px;
  }

  // content/faq
  .row {
    padding-bottom: 32px;
  }

  .title {
    margin-bottom: 8px;
    font-weight: 600;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .container-iframe {
    width: 90%;
    height: 460px;
  }
  .container-btn {
    margin-top: 60px;
    border-top: 1px solid #c8c8c8;
    padding-top: 60px;
    text-align: center;
  }
  .wrapper {
    display: flex;
    color: #2a2a2a;
  }
  .container-error {
    display: flex;
    align-items: center;
    background-color: #ff324b;
    padding-left: 40px;
    color: #fff;
    height: 80px;
    .icon-error {
      color: #fff;
      font-size: 48px;
      margin-right: 20px;
    }
  }

  .content {
    background-color: #fafafa;
  }

  .controlBar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #f5f5f5;
  }
  .controlBar-container {
    padding: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #c8c8c8;
    border-left: none;
    border-right: none;
    margin-top: 1px;
  }

  .controlBar-content {
    flex: 1;
    color: #2a2a2a;
    font-weight: 550;
  }

  .btn-ok {
    background-color: #7a69b3;
    border: none;
    color: #ffffff;
    margin-left: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 15px;
    min-height: 40px;
    min-width: 86px;
    cursor: pointer;
    border-radius: 2px;

    &.disabled {
      pointer-events: none;
      cursor: default;
      background-color: #c8c8c8;
      color: #ffffff;
    }

    &:hover {
      background-color: #6653a5;
      color: #ffffff;
    }
  }

  .body {
    padding: 30px 50px;
    min-height: 900px;
  }

  .hide {
    display: none;
  }

  .entreSection {
    width: 100%;
    margin-bottom: 60px;
  }

  .entreField-header {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .entreField-subHeader {
    margin-bottom: 10px;
  }

  .entreField-required {
    color: #ff324b;
  }
  .entreField {
    margin: 40px 0;
  }

  .entreField-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .entreField-subLabel {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #6a6a6a;
    margin-bottom: 10px;
  }

  .itext-field {
    font-size: 14px;
    line-height: 21px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    outline: none;
    &:focus {
      border: 1px solid #333232;
    }
  }

  .entreField-validationLabel {
    font-size: 12px;
    color: #ff001e;
    margin-top: 2px;
    font-style: italic;
  }

  .entreField-error {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #ff324b;
    margin-top: 5px;
  }

  .entreField-input-image {
    border: 1px solid #c8c8c8;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 460px;
  }

  .entreImage-file {
    height: 0;
    opacity: 0;
  }

  .tertiaryAction {
    display: flex;
    align-items: center;
  }

  .tertiaryAction-icon {
    width: 35px;
    height: 35px;
    background-color: #eee5f2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .editFile {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
  }
  .editFile-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee5f2;
    border-radius: 50%;

    & + & {
      margin-left: 8px;
    }
  }
  .tertiaryAction-text {
    color: #7a69b3;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .entreField-categorySelect {
    width: 373px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .entreDropdown-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .icon {
      font-size: 16px;
    }
    position: relative;
  }

  .borderInput {
    border: 1px solid #333232;
  }

  .editFile {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
  }
  .editFile-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee5f2;
    border-radius: 50%;

    & + & {
      margin-left: 8px;
    }
  }

  .btn-add-video {
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 15px;
    cursor: pointer;
    min-height: 40px;
    min-width: 86px;
    margin-left: 12px;
    background-color: #7a69b3;
    border: none;
    color: #ffffff;
    &:hover {
      background-color: #6653a5;
      color: #ffffff;
    }

    &.disabled {
      pointer-events: none;
      cursor: default;
      background-color: #c8c8c8;
    }
  }

  .i-pitchvideo-url {
    width: 100%;
  }

  .entreToggle {
    display: flex;
  }

  .i-media-button {
    font-weight: 700;
    color: #a8a8a8;
    font-size: 12px;
    width: 75px;
    background: #ffffff;
    line-height: 40px;
    height: 40px;
    border: 1px solid #c8c8c8;
    letter-spacing: 1px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 15px;
    text-transform: uppercase;
    text-align: center;

    &:not(.i-media-button-selected):hover {
      color: #2a2a2a;
    }

    &:nth-child(2) {
      border-left: none;
    }

    &.i-media-button-selected {
      background: #2a2a2a;
      color: #ffffff;
    }
  }

  .videoPlaceholder {
    width: 100%;
    height: 415px;
    margin-top: 10px;
    background: #f5f5f5;
    border: 1px dashed #c8c8c8;
    border-radius: 2px;
  }

  .row {
    padding-bottom: 32px;
  }

  .title {
    margin-bottom: 8px;
    font-weight: 600;
  }
  .container-image-upload {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 460px;
  }
}
@media only screen and (max-width: 768px) {
  .container-iframe {
    width: 90%;
    height: 460px;
  }
  .container-btn {
    margin-top: 60px;
    border-top: 1px solid #c8c8c8;
    padding-top: 60px;
    text-align: center;
  }
  .wrapper {
    display: flex;
    color: #2a2a2a;
  }
  .container-error {
    display: flex;
    align-items: center;
    background-color: #ff324b;
    padding-left: 40px;
    color: #fff;
    height: 80px;
    .icon-error {
      color: #fff;
      font-size: 48px;
      margin-right: 20px;
    }
  }

  .content {
    background-color: #fafafa;
  }

  .controlBar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #f5f5f5;
  }
  .controlBar-container {
    padding: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #c8c8c8;
    border-left: none;
    border-right: none;
    margin-top: 1px;
  }

  .controlBar-content {
    flex: 1;
    color: #2a2a2a;
    font-weight: 550;
  }

  .btn-ok {
    background-color: #7a69b3;
    border: none;
    color: #ffffff;
    margin-left: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 15px;
    min-height: 40px;
    min-width: 86px;
    cursor: pointer;
    border-radius: 2px;

    &.disabled {
      pointer-events: none;
      cursor: default;
      background-color: #c8c8c8;
      color: #ffffff;
    }

    &:hover {
      background-color: #6653a5;
      color: #ffffff;
    }
  }

  .body {
    padding: 30px 50px;
    min-height: 900px;
  }

  .hide {
    display: none;
  }

  .entreSection {
    width: 100%;
    margin-bottom: 60px;
  }

  .entreField-header {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .entreField-subHeader {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .entreField-required {
    color: #ff324b;
  }
  .entreField {
    margin: 40px 0;
  }

  .entreField-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .entreField-subLabel {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #6a6a6a;
    margin-bottom: 10px;
  }

  .itext-field {
    font-size: 14px;
    line-height: 21px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    outline: none;
    &:focus {
      border: 1px solid #333232;
    }
  }

  .entreField-validationLabel {
    font-size: 12px;
    color: #ff001e;
    margin-top: 2px;
    font-style: italic;
  }

  .entreField-error {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #ff324b;
    margin-top: 5px;
  }

  .entreField-input-image {
    border: 1px solid #c8c8c8;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 460px;
  }

  .entreImage-file {
    height: 0;
    opacity: 0;
  }

  .tertiaryAction {
    display: flex;
    align-items: center;
  }

  .tertiaryAction-icon {
    width: 35px;
    height: 35px;
    background-color: #eee5f2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .editFile {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
  }
  .editFile-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee5f2;
    border-radius: 50%;

    & + & {
      margin-left: 8px;
    }
  }
  .tertiaryAction-text {
    color: #7a69b3;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .entreField-categorySelect {
    width: 80%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .entreDropdown-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .icon {
      font-size: 16px;
    }
    position: relative;
  }

  .borderInput {
    border: 1px solid #333232;
  }

  .editFile {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
  }
  .editFile-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee5f2;
    border-radius: 50%;

    & + & {
      margin-left: 8px;
    }
  }

  .btn-add-video {
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 15px;
    cursor: pointer;
    min-height: 40px;
    min-width: 86px;
    margin-left: 12px;
    background-color: #7a69b3;
    border: none;
    color: #ffffff;
    &:hover {
      background-color: #6653a5;
      color: #ffffff;
    }

    &.disabled {
      pointer-events: none;
      cursor: default;
      background-color: #c8c8c8;
    }
  }

  .i-pitchvideo-url {
    width: 100%;
  }

  .entreToggle {
    display: flex;
  }

  .i-media-button {
    font-weight: 700;
    color: #a8a8a8;
    font-size: 12px;
    width: 75px;
    background: #ffffff;
    line-height: 40px;
    height: 40px;
    border: 1px solid #c8c8c8;
    letter-spacing: 1px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 15px;
    text-transform: uppercase;
    text-align: center;

    &:not(.i-media-button-selected):hover {
      color: #2a2a2a;
    }

    &:nth-child(2) {
      border-left: none;
    }

    &.i-media-button-selected {
      background: #2a2a2a;
      color: #ffffff;
    }
  }

  .videoPlaceholder {
    width: 100%;
    height: 415px;
    margin-top: 10px;
    background: #f5f5f5;
    border: 1px dashed #c8c8c8;
    border-radius: 2px;
  }

  .row {
    padding-bottom: 32px;
  }

  .title {
    margin-bottom: 8px;
    font-weight: 600;
  }
  .container-image-upload {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 460px;
  }
}

@keyframes modalIn {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes modalOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(5%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
