.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(38, 38, 38, 0.5);
    overflow-y: scroll;
    .body {
        min-width: 900px;
        max-width: 75%;
        padding: 40px;
        border-radius: 2px;
        border: 1px solid #dddddd;
        color: #2a2a2a;
        background-color: #fafafa;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0;
        line-height: 24px;
        box-shadow: none;
        position: relative;
        top: 120px;
        left: 20%;
        margin-bottom: 200px;
    }

    .title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 500;
    }
    .description {
        opacity: 0.8;
    }

    .section-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .btn {
        font-weight: 600;
        font-size: 13px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 14px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        min-width: 86px;
        cursor: pointer;
        border-radius: 2px;

        &.disabled {
            pointer-events: none;
            cursor: default;
            background-color: #c8c8c8;
            color: #ffffff;
        }
    }
    .btn-ok {
        background-color: #7a69b3;
        border: none;
        color: #ffffff;
        margin-left: 16px;

        &:hover {
            background-color: #6653a5;
            color: #ffffff;
        }
    }
    .btn-cancel {
        background-color: transparent;
        color: #7a69b3;

        &:hover {
            background-color: #eee5f2;
            border-color: #eee5f2;
            color: #7a69b3;
        }
    }
    .order-item-wrapper {
        gap: 20px;
        display: flex;
        flex-direction: column;
        max-height: 500px;
        padding-right: 8px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #c2c7ce;
            border-radius: 10px;
        }
    }

    .editFile-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eee5f2;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            background-color: #e3d1eb;
        }
        transition: .1s all ease-in;
    }

    .perk-inner {
        display: flex;
        margin-top: 32px;
        gap: 64px;
        .label {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 16px;
        }
    }

    .list-perks {
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 850px;
        padding-right: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #c2c7ce;
            border-radius: 10px;
        }
    }

    .list-perks-selected {
        flex: 1;
    }
    .delivery {
        margin-top: 32px;
        .label-delivery {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .delivery-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .info-row {
            display: flex;
            gap: 32px;
        }
        .input-text {
            outline: none;
            padding: 6px 12px;
            width: 100%;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 12px;
            font-weight: 300;
            color: rgb(53, 58, 68);
            transition: 0.1s all linear;
    
            &:focus {
                border: 1px solid #7a69b3;
            }
        }
    }
    

}
