.wrapper {
  height: 100vh;
  background-color: #f7f6ee;
  display: flex;
  flex-direction: column;

  .children-wrapper {
    flex: 1;
    padding-bottom: 60px;
    overflow: hidden;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #c8c8c8 transparent;
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
    }
  }
}
